$green1: #438637;
$black: #0000;
.custom-navbar {
    background-color: #ffffff;
    padding: 20px 100px;
    box-shadow:  0 4px 12px rgba(0, 0, 0, 0.1); 

    .navbar-wrapper {
        display: flex;
        justify-content: space-between;

        .logo {
            .navbar-brand {
                text-decoration: none !important;
                font-family: Bricolage+Grotesque;
                font-size: 40px;
                font-weight: 800;
                color: $green1;
               
            }

        }

        .nav-menu {
            display: flex;
            gap: 50px;
            align-items: center;
            padding-top:10px;

            .nav-item {
                color: #333;
                text-decoration: none;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                transition: color 0.3s;
                
                &.active,
                &:hover {
                    color: #2e7d32; // xanh lá đậm
                    font-weight:bold;
                }
            }
        }

        .user-icon {
            display: flex;
            align-items: flex-end;

            .user {
                color: $green1;

            }
        }
    }

}